@import './variables'
@import './mixin'
@import './easing'
@import './reset'
@import './base'

[hide]
  display: none !important

.container
  max-width 600px
  margin-right: auto
  margin-left auto

.text-center
  text-align: center

.hoge-enter,
.hoge-leave-to {
  opacity: 0;
}
.hoge-enter-active,
.hoge-leave-active {
  transition: opacity 500ms linear;
}
.hoge-enter-to,
.hoge-leave {
  opacity: 1;
}
